{% extends 'base.html' %}
{% block content %}
<h1 class ='text-center'>Certificates</h1>
<P></P>
<h3>HackerRank</h3>
<P></P>
<img src="{{ media_url }}/hackerrank.PNG" alt="Hackerrank" class="rounded ">
<h6>Data: 05 nov, 2023</h6>
<P></P>
<hr>
<P></P>
<h3>EdFix</h3>
<P></P>
<img src="{{ media_url }}/kopirayting.png" alt="Hackerrank" class="rounded " height="800" width="1200">
<h6>Data: 21 march, 2025</h6>
<P></P>
<hr>
<P></P>
<hr>
<P></P>
<h3>42</h3>
<P></P>
<img src="{{ media_url }}/umid42.png" alt="Hackerrank" class="rounded ">
<h6>Data: 10 jan, 2025</h6>
<P></P>
<hr>
<P></P>

{% endblock %}