{% extends 'base.html' %}
{% block content %}
<h1 class ='text-center'>About Me</h1>
<p></p>
<p></p>
<div class="row">
    <div class="col-md-3">
        <img src="{{ media_url }}/myphoto.jpg" alt="image error" class="img-thumbnail" width="280" height="300">
    </div>
    <div class="col-md-9">
        <p></p>
        <h4><strong>Full name:</strong> <span style="font-weight: 400;">Juraqulov Umidjon Sanjar o'g'li</span></h4>
        <p></p>
        <h4><strong>Year of birth:</strong> <span style="font-weight: 400;">2 October 2003</span></h4>
        <p></p>
        <h4><strong>Place of birth:</strong> <span style="font-weight: 400;"> district, Samarkand region, Uzbekistan</span></h4>
        <p></p>
        <h4><strong>Address:</strong> <span style="font-weight: 400;">Samarkand city, Samarkand region, Uzbekistan</span></h4>
        <p></p>
        <h4><strong>Phone number:</strong> <span style="font-weight: 400;">+998 93 331 33 48</span></h4>
        <p></p>
        <h4><strong>Email:</strong> <span style="font-weight: 400;"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=juraqulovumidjon0210@gmail.com">juraqulovumidjon0210@gmail.com</a></span></h4>
        <p></p>
        <h4><strong>Specialization:</strong> <span style="font-weight: 400;">Teacher in Mathematics and Informatics, Programmer</span></h4>
        <p></p>
        <h4><strong>Language proficiency:</strong> <span style="font-weight: 400;">- </span></h4>
    </div>
</div>
<p></p>

<p></p>
<h2 class ='text-center'>My Social Media Profiles</h2>
<p></p>
<p></p>
<div class="row">
    <div class="col-md-2">
        <a href="https://t.me/Juraqulov_Umidjon"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png" alt="Telegram logo" width="100" height="100"></a>
    </div>
    <div class="col-md-2">
        <a href="https://instagram.com/juraqulov_umidjon2003"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png" alt="Instagram logo" width="100" height="100"></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.facebook.com/profile.php?id=100079703570952&mibextid=ZbWKwL"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjvzC_QRv6moAhgNb5C6e3yicKgFND1g2RwA&s" alt="Facebook logo" width="100" height="100"></a>
    </div>
    <div class="col-md-2">
        <a href="https://github.com/Umidjonjuraqulov"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="Git Hub logo" width="100" height="100"></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.linkedin.com/in/umidjon-juraqulov-030a912b7/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/960px-LinkedIn_logo_initials.png" alt="Git Hub logo" width="100" height="100"></a>
    </div>
</div>
<p></p>
<hr>
<p></p>
<h2 class ='text-center'>My Skills</h2>
<p></p>
<div class="row">
    <div class="col-md-6">
        <h4 style="font-size: 40px;">Technical Skills</h4>
        <ul>
        <li style="font-size: 25px;">Python and Django development</li>
        <li style="font-size: 25px;">HTML, CSS, and Bootstrap</li>
        <li style="font-size: 25px;">Database management (SQLite, PostgreSQL)</li>
        <li style="font-size: 25px;">Lesson planning and delivery (Math & Informatics)</li>
        <li style="font-size: 25px;">Teamwork and communication skills</li>
        <li style="font-size: 25px;">Microsoft Office proficiency</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4 style="font-size: 40px;">Educational Skills</h4>
        <ul>
        <li style="font-size: 25px;">Lesson planning and delivery</li>
        <li style="font-size: 25px;">Working with school-age students</li>
        <li style="font-size: 25px;">Online teaching tools (Zoom, Google Meet)</li>
        <li style="font-size: 25px;">Assessment and student feedback</li>
        <li style="font-size: 25px;">Educational technologies (Kahoot, Quizizz, Canva)</li>
        <li style="font-size: 25px;">Curriculum design in Mathematics and Informatics</li>
        </ul>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <ul>
            <h4 style="font-size: 40px;">Soft Skills</h4>
            <li style="font-size: 25px;">Time management</li>
            <li style="font-size: 25px;">Teamwork and collaboration</li>
            <li style="font-size: 25px;">Critical thinking</li>
            <li style="font-size: 25px;">Problem-solving</li>
            <li style="font-size: 25px;">Public speaking</li>
            <li style="font-size: 25px;">Adaptability and learning fast</li>
            <li style="font-size: 25px;">Leadership skills</li>
            <li style="font-size: 25px;">Communication skills</li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>
<a href="/media/resume.pdf" class="btn btn-success btn-lg" download>
  <i class="bi bi-download"></i> Download Resume </a>
<p></p>
<p></p>
<p></p>
{% endblock %}