{% extends 'base.html' %}
{% block content %}
<h1 class ='text-center'>My Work</h1>
<p></p>
<div class="row">
    <div class="col-md-3">
        <img src="{{ media_url }}/school_18.png" alt="image error" class="img-thumbnail">
    </div>
    <div class="col-md-9">
        <h4>School N-18</h4>
        <p></p>
        <h4>Mathematics Teacher</h4>
        <p></p>
        <h5>Sep, 2023 - Sep, 2024</h5>
    </div>
</div>
<p></p>
<hr>
<p></p>
<div class="row">
    <div class="col-md-3">
        <img src="{{ media_url }}/raccoons_logo.png" alt="image error" class="img-thumbnail" width="300" height="300">
    </div>
    <div class="col-md-9">
        <h4>Raccoons AI</h4>
        <p></p>
        <h4>Backend Engineer</h4>
        <p></p>
        <h5>Jan, 2025 - Now</h5>
    </div>
</div>
<p></p>
<hr>
<p></p>
<h1 class="text-center">My projects</h1>
{% endblock %}